*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #e2ffcf;
}

#presentacion{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameContainer{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

#fin{
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

#fin h1{
    font-size: 32px;
}

#canvas{
    border: 15px solid #578a34;
}